openapi: 3.0.0
info:
  title: CourtListener REST API
  description: REST API for federal and state case law, PACER data, the searchable
    RECAP Archive, oral argument recordings and more. Provided by Free Law Project,
    a 501(c)(3) non-profit.
  version: '4.3'
  contact:
    name: Free Law Project
    url: https://free.law/
    email: support@freelawproject.org
  license:
    name: CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://www.courtlistener.com/api/rest/v4
  description: Production API
paths:
  /search:
    get:
      summary: List search
      tags:
      - Search
      operationId: list_search
      parameters: &id001
      - name: limit
        in: query
        description: Number of results per page
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Pagination offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create search
      tags:
      - Search
      operationId: create_search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /search/{id}:
    get:
      summary: Get search details
      tags:
      - Search
      operationId: retrieve_search
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for search
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update search
      tags:
      - Search
      operationId: update_search
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete search
      tags:
      - Search
      operationId: delete_search
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /dockets:
    get:
      summary: List dockets
      tags:
      - Dockets
      operationId: list_dockets
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create docket
      tags:
      - Dockets
      operationId: create_dockets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dockets/{id}:
    get:
      summary: Get docket details
      tags:
      - Dockets
      operationId: retrieve_dockets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for docket
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update docket
      tags:
      - Dockets
      operationId: update_dockets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete docket
      tags:
      - Dockets
      operationId: delete_dockets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /bankruptcy-information:
    get:
      summary: List bankruptcy-information
      tags:
      - Bankruptcy Information
      operationId: list_bankruptcy_information
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create bankruptcy-information
      tags:
      - Bankruptcy Information
      operationId: create_bankruptcy_information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bankruptcy-information/{id}:
    get:
      summary: Get bankruptcy-information details
      tags:
      - Bankruptcy Information
      operationId: retrieve_bankruptcy_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for bankruptcy-information
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update bankruptcy-information
      tags:
      - Bankruptcy Information
      operationId: update_bankruptcy_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete bankruptcy-information
      tags:
      - Bankruptcy Information
      operationId: delete_bankruptcy_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /originating-court-information:
    get:
      summary: List originating-court-information
      tags:
      - Originating Court Information
      operationId: list_originating_court_information
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create originating-court-information
      tags:
      - Originating Court Information
      operationId: create_originating_court_information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /originating-court-information/{id}:
    get:
      summary: Get originating-court-information details
      tags:
      - Originating Court Information
      operationId: retrieve_originating_court_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for originating-court-information
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update originating-court-information
      tags:
      - Originating Court Information
      operationId: update_originating_court_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete originating-court-information
      tags:
      - Originating Court Information
      operationId: delete_originating_court_information
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /docket-entries:
    get:
      summary: List docket-entries
      tags:
      - Docket Entries
      operationId: list_docket_entries
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create docket-entrie
      tags:
      - Docket Entries
      operationId: create_docket_entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /docket-entries/{id}:
    get:
      summary: Get docket-entrie details
      tags:
      - Docket Entries
      operationId: retrieve_docket_entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for docket-entrie
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update docket-entrie
      tags:
      - Docket Entries
      operationId: update_docket_entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete docket-entrie
      tags:
      - Docket Entries
      operationId: delete_docket_entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /recap-documents:
    get:
      summary: List recap-documents
      tags:
      - Recap Documents
      operationId: list_recap_documents
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create recap-document
      tags:
      - Recap Documents
      operationId: create_recap_documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recap-documents/{id}:
    get:
      summary: Get recap-document details
      tags:
      - Recap Documents
      operationId: retrieve_recap_documents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for recap-document
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update recap-document
      tags:
      - Recap Documents
      operationId: update_recap_documents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete recap-document
      tags:
      - Recap Documents
      operationId: delete_recap_documents
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /courts:
    get:
      summary: List courts
      tags:
      - Courts
      operationId: list_courts
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create court
      tags:
      - Courts
      operationId: create_courts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /courts/{id}:
    get:
      summary: Get court details
      tags:
      - Courts
      operationId: retrieve_courts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for court
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update court
      tags:
      - Courts
      operationId: update_courts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete court
      tags:
      - Courts
      operationId: delete_courts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /audio:
    get:
      summary: List audio
      tags:
      - Audio
      operationId: list_audio
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create audio
      tags:
      - Audio
      operationId: create_audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/{id}:
    get:
      summary: Get audio details
      tags:
      - Audio
      operationId: retrieve_audio
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for audio
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update audio
      tags:
      - Audio
      operationId: update_audio
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete audio
      tags:
      - Audio
      operationId: delete_audio
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /clusters:
    get:
      summary: List clusters
      tags:
      - Clusters
      operationId: list_clusters
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create cluster
      tags:
      - Clusters
      operationId: create_clusters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /clusters/{id}:
    get:
      summary: Get cluster details
      tags:
      - Clusters
      operationId: retrieve_clusters
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for cluster
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update cluster
      tags:
      - Clusters
      operationId: update_clusters
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete cluster
      tags:
      - Clusters
      operationId: delete_clusters
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /opinions:
    get:
      summary: List opinions
      tags:
      - Opinions
      operationId: list_opinions
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create opinion
      tags:
      - Opinions
      operationId: create_opinions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /opinions/{id}:
    get:
      summary: Get opinion details
      tags:
      - Opinions
      operationId: retrieve_opinions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for opinion
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update opinion
      tags:
      - Opinions
      operationId: update_opinions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete opinion
      tags:
      - Opinions
      operationId: delete_opinions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /opinions-cited:
    get:
      summary: List opinions-cited
      tags:
      - Opinions Cited
      operationId: list_opinions_cited
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create opinions-cited
      tags:
      - Opinions Cited
      operationId: create_opinions_cited
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /opinions-cited/{id}:
    get:
      summary: Get opinions-cited details
      tags:
      - Opinions Cited
      operationId: retrieve_opinions_cited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for opinions-cited
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update opinions-cited
      tags:
      - Opinions Cited
      operationId: update_opinions_cited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete opinions-cited
      tags:
      - Opinions Cited
      operationId: delete_opinions_cited
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /tag:
    get:
      summary: List tag
      tags:
      - Tag
      operationId: list_tag
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create tag
      tags:
      - Tag
      operationId: create_tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tag/{id}:
    get:
      summary: Get tag details
      tags:
      - Tag
      operationId: retrieve_tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for tag
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update tag
      tags:
      - Tag
      operationId: update_tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete tag
      tags:
      - Tag
      operationId: delete_tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /people:
    get:
      summary: List people
      tags:
      - People
      operationId: list_people
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create people
      tags:
      - People
      operationId: create_people
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /people/{id}:
    get:
      summary: Get people details
      tags:
      - People
      operationId: retrieve_people
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for people
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update people
      tags:
      - People
      operationId: update_people
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete people
      tags:
      - People
      operationId: delete_people
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /positions:
    get:
      summary: List positions
      tags:
      - Positions
      operationId: list_positions
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create position
      tags:
      - Positions
      operationId: create_positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /positions/{id}:
    get:
      summary: Get position details
      tags:
      - Positions
      operationId: retrieve_positions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for position
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update position
      tags:
      - Positions
      operationId: update_positions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete position
      tags:
      - Positions
      operationId: delete_positions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /retention-events:
    get:
      summary: List retention-events
      tags:
      - Retention Events
      operationId: list_retention_events
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create retention-event
      tags:
      - Retention Events
      operationId: create_retention_events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /retention-events/{id}:
    get:
      summary: Get retention-event details
      tags:
      - Retention Events
      operationId: retrieve_retention_events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for retention-event
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update retention-event
      tags:
      - Retention Events
      operationId: update_retention_events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete retention-event
      tags:
      - Retention Events
      operationId: delete_retention_events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /educations:
    get:
      summary: List educations
      tags:
      - Educations
      operationId: list_educations
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create education
      tags:
      - Educations
      operationId: create_educations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /educations/{id}:
    get:
      summary: Get education details
      tags:
      - Educations
      operationId: retrieve_educations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for education
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update education
      tags:
      - Educations
      operationId: update_educations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete education
      tags:
      - Educations
      operationId: delete_educations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /schools:
    get:
      summary: List schools
      tags:
      - Schools
      operationId: list_schools
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create school
      tags:
      - Schools
      operationId: create_schools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /schools/{id}:
    get:
      summary: Get school details
      tags:
      - Schools
      operationId: retrieve_schools
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for school
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update school
      tags:
      - Schools
      operationId: update_schools
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete school
      tags:
      - Schools
      operationId: delete_schools
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /political-affiliations:
    get:
      summary: List political-affiliations
      tags:
      - Political Affiliations
      operationId: list_political_affiliations
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create political-affiliation
      tags:
      - Political Affiliations
      operationId: create_political_affiliations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /political-affiliations/{id}:
    get:
      summary: Get political-affiliation details
      tags:
      - Political Affiliations
      operationId: retrieve_political_affiliations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for political-affiliation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update political-affiliation
      tags:
      - Political Affiliations
      operationId: update_political_affiliations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete political-affiliation
      tags:
      - Political Affiliations
      operationId: delete_political_affiliations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /sources:
    get:
      summary: List sources
      tags:
      - Sources
      operationId: list_sources
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create source
      tags:
      - Sources
      operationId: create_sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sources/{id}:
    get:
      summary: Get source details
      tags:
      - Sources
      operationId: retrieve_sources
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for source
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update source
      tags:
      - Sources
      operationId: update_sources
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete source
      tags:
      - Sources
      operationId: delete_sources
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /aba-ratings:
    get:
      summary: List aba-ratings
      tags:
      - Aba Ratings
      operationId: list_aba_ratings
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create aba-rating
      tags:
      - Aba Ratings
      operationId: create_aba_ratings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /aba-ratings/{id}:
    get:
      summary: Get aba-rating details
      tags:
      - Aba Ratings
      operationId: retrieve_aba_ratings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for aba-rating
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update aba-rating
      tags:
      - Aba Ratings
      operationId: update_aba_ratings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete aba-rating
      tags:
      - Aba Ratings
      operationId: delete_aba_ratings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /parties:
    get:
      summary: List parties
      tags:
      - Parties
      operationId: list_parties
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create partie
      tags:
      - Parties
      operationId: create_parties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /parties/{id}:
    get:
      summary: Get partie details
      tags:
      - Parties
      operationId: retrieve_parties
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for partie
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update partie
      tags:
      - Parties
      operationId: update_parties
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete partie
      tags:
      - Parties
      operationId: delete_parties
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /attorneys:
    get:
      summary: List attorneys
      tags:
      - Attorneys
      operationId: list_attorneys
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create attorney
      tags:
      - Attorneys
      operationId: create_attorneys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /attorneys/{id}:
    get:
      summary: Get attorney details
      tags:
      - Attorneys
      operationId: retrieve_attorneys
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for attorney
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update attorney
      tags:
      - Attorneys
      operationId: update_attorneys
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete attorney
      tags:
      - Attorneys
      operationId: delete_attorneys
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /recap:
    get:
      summary: List recap
      tags:
      - Recap
      operationId: list_recap
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create recap
      tags:
      - Recap
      operationId: create_recap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recap/{id}:
    get:
      summary: Get recap details
      tags:
      - Recap
      operationId: retrieve_recap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for recap
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update recap
      tags:
      - Recap
      operationId: update_recap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete recap
      tags:
      - Recap
      operationId: delete_recap
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /recap-email:
    get:
      summary: List recap-email
      tags:
      - Recap Email
      operationId: list_recap_email
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create recap-email
      tags:
      - Recap Email
      operationId: create_recap_email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recap-email/{id}:
    get:
      summary: Get recap-email details
      tags:
      - Recap Email
      operationId: retrieve_recap_email
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for recap-email
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update recap-email
      tags:
      - Recap Email
      operationId: update_recap_email
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete recap-email
      tags:
      - Recap Email
      operationId: delete_recap_email
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /recap-fetch:
    get:
      summary: List recap-fetch
      tags:
      - Recap Fetch
      operationId: list_recap_fetch
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create recap-fetch
      tags:
      - Recap Fetch
      operationId: create_recap_fetch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recap-fetch/{id}:
    get:
      summary: Get recap-fetch details
      tags:
      - Recap Fetch
      operationId: retrieve_recap_fetch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for recap-fetch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update recap-fetch
      tags:
      - Recap Fetch
      operationId: update_recap_fetch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete recap-fetch
      tags:
      - Recap Fetch
      operationId: delete_recap_fetch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /recap-query:
    get:
      summary: List recap-query
      tags:
      - Recap Query
      operationId: list_recap_query
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create recap-query
      tags:
      - Recap Query
      operationId: create_recap_query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /recap-query/{id}:
    get:
      summary: Get recap-query details
      tags:
      - Recap Query
      operationId: retrieve_recap_query
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for recap-query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update recap-query
      tags:
      - Recap Query
      operationId: update_recap_query
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete recap-query
      tags:
      - Recap Query
      operationId: delete_recap_query
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /fjc-integrated-database:
    get:
      summary: List fjc-integrated-database
      tags:
      - Fjc Integrated Database
      operationId: list_fjc_integrated_database
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create fjc-integrated-database
      tags:
      - Fjc Integrated Database
      operationId: create_fjc_integrated_database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /fjc-integrated-database/{id}:
    get:
      summary: Get fjc-integrated-database details
      tags:
      - Fjc Integrated Database
      operationId: retrieve_fjc_integrated_database
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for fjc-integrated-database
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update fjc-integrated-database
      tags:
      - Fjc Integrated Database
      operationId: update_fjc_integrated_database
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete fjc-integrated-database
      tags:
      - Fjc Integrated Database
      operationId: delete_fjc_integrated_database
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /tags:
    get:
      summary: List tags
      tags:
      - Tags
      operationId: list_tags
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create tag
      tags:
      - Tags
      operationId: create_tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tags/{id}:
    get:
      summary: Get tag details
      tags:
      - Tags
      operationId: retrieve_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for tag
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update tag
      tags:
      - Tags
      operationId: update_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete tag
      tags:
      - Tags
      operationId: delete_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /docket-tags:
    get:
      summary: List docket-tags
      tags:
      - Docket Tags
      operationId: list_docket_tags
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create docket-tag
      tags:
      - Docket Tags
      operationId: create_docket_tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /docket-tags/{id}:
    get:
      summary: Get docket-tag details
      tags:
      - Docket Tags
      operationId: retrieve_docket_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for docket-tag
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update docket-tag
      tags:
      - Docket Tags
      operationId: update_docket_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete docket-tag
      tags:
      - Docket Tags
      operationId: delete_docket_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /prayers:
    get:
      summary: List prayers
      tags:
      - Prayers
      operationId: list_prayers
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create prayer
      tags:
      - Prayers
      operationId: create_prayers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /prayers/{id}:
    get:
      summary: Get prayer details
      tags:
      - Prayers
      operationId: retrieve_prayers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for prayer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update prayer
      tags:
      - Prayers
      operationId: update_prayers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete prayer
      tags:
      - Prayers
      operationId: delete_prayers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /increment-event:
    get:
      summary: List increment-event
      tags:
      - Increment Event
      operationId: list_increment_event
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create increment-event
      tags:
      - Increment Event
      operationId: create_increment_event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /increment-event/{id}:
    get:
      summary: Get increment-event details
      tags:
      - Increment Event
      operationId: retrieve_increment_event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for increment-event
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update increment-event
      tags:
      - Increment Event
      operationId: update_increment_event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete increment-event
      tags:
      - Increment Event
      operationId: delete_increment_event
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /visualizations/json:
    get:
      summary: List visualizations/json
      tags:
      - Visualizations/Json
      operationId: list_visualizations/json
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create visualizations/json
      tags:
      - Visualizations/Json
      operationId: create_visualizations/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /visualizations/json/{id}:
    get:
      summary: Get visualizations/json details
      tags:
      - Visualizations/Json
      operationId: retrieve_visualizations/json
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for visualizations/json
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update visualizations/json
      tags:
      - Visualizations/Json
      operationId: update_visualizations/json
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete visualizations/json
      tags:
      - Visualizations/Json
      operationId: delete_visualizations/json
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /visualizations:
    get:
      summary: List visualizations
      tags:
      - Visualizations
      operationId: list_visualizations
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create visualization
      tags:
      - Visualizations
      operationId: create_visualizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /visualizations/{id}:
    get:
      summary: Get visualization details
      tags:
      - Visualizations
      operationId: retrieve_visualizations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for visualization
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update visualization
      tags:
      - Visualizations
      operationId: update_visualizations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete visualization
      tags:
      - Visualizations
      operationId: delete_visualizations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /agreements:
    get:
      summary: List agreements
      tags:
      - Agreements
      operationId: list_agreements
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create agreement
      tags:
      - Agreements
      operationId: create_agreements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agreements/{id}:
    get:
      summary: Get agreement details
      tags:
      - Agreements
      operationId: retrieve_agreements
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for agreement
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update agreement
      tags:
      - Agreements
      operationId: update_agreements
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete agreement
      tags:
      - Agreements
      operationId: delete_agreements
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /debts:
    get:
      summary: List debts
      tags:
      - Debts
      operationId: list_debts
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create debt
      tags:
      - Debts
      operationId: create_debts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /debts/{id}:
    get:
      summary: Get debt details
      tags:
      - Debts
      operationId: retrieve_debts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for debt
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update debt
      tags:
      - Debts
      operationId: update_debts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete debt
      tags:
      - Debts
      operationId: delete_debts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /financial-disclosures:
    get:
      summary: List financial-disclosures
      tags:
      - Financial Disclosures
      operationId: list_financial_disclosures
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create financial-disclosure
      tags:
      - Financial Disclosures
      operationId: create_financial_disclosures
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /financial-disclosures/{id}:
    get:
      summary: Get financial-disclosure details
      tags:
      - Financial Disclosures
      operationId: retrieve_financial_disclosures
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for financial-disclosure
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update financial-disclosure
      tags:
      - Financial Disclosures
      operationId: update_financial_disclosures
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete financial-disclosure
      tags:
      - Financial Disclosures
      operationId: delete_financial_disclosures
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted successfully
  /gifts:
    get:
      summary: List gifts
      tags:
      - Gifts
      operationId: list_gifts
      parameters: *id001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create gift
      tags:
      - Gifts
      operationId: create_gifts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /gifts/{id}:
    get:
      summary: Get gift details
      tags:
      - Gifts
      operationId: retrieve_gifts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier for gift
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update gift
      tags:
      - Gifts
      operationId: update_gifts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: Delete gift
      tags:
      - Gifts
      operationId: delete_gifts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
[...]
